#marker {
	cursor: pointer;
	height: 30px;
	outline: thin solid orange;
	position: relative;
	width: 600px;
	overflow: hidden;
	max-width: 600px;
}
#span {
	background-color: orange;
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	width: 0px;
}
.selectors {
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 10px;
}

.time {
	color: grey;
	font-size: 12px;
}